<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf='equipmentBeingEdited !== item; else elseBlock'>
      <span (click)='edit(item)' class="editable-text">{{item}}</span>
      <button (click)='remove(item)'>remove</button>
    </span>
    <ng-template #elseBlock>
      <input #newItemName (keyup.enter)='save(newItemName.value, item)' value="{{item}}"/>
      <button (click)='save(newItemName.value, item)'>save</button>
    </ng-template>
  </li>
  <input #itemToAdd type="text" (keyup.enter)='addEquipment(itemToAdd.value)' />
  <button (click)='addEquipment(itemToAdd.value)'>Add</button>
</ul>
